.react-calendar__tile {
  height: 8vh;
}

.react-calendar__month-view__days__day--weekend {
  color: #225095;
}

.dotDiv {
  background-color: #f16643;
  border-radius: 50%;
  width: 15px;
  margin-bottom: -21px;
  height: 15px;
}

.react-calendar button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calDiv .react-calendar {
  width: unset;
  border-radius: 2vh;
  border-color: #e9eef4;
  padding: 5px;
  box-shadow: 3px 0px 14px 5px #e9eef4;
}

.react-calendar__month-view__days__day--weekend {
  color: #f16643;
}
.react-calendar__tile--active {
  background: #225095;
  color: #e9eef4;
}

.react-calendar__tile--active :hover {
  background: #e9eef4;
}
