.rating {
  display: flex;
  align-items: center;
}

.rating * > {
  margin-right: 4px;
}

/* .rating p {
    font-size: 1px
} */

.WhitePaw {
  height: 14px;
  width: 19px;
}

.HalfPaw {
  height: 30px;
  width: 30px;
}

.GreyPaw2 {
  height: 30px;
  width: 30px;
}
