.search-results > * {
  margin-top: 1rem;
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55vh;
}

.resultsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 53vh;
  overflow-y: scroll;
}
