.useMessagesMain {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.usersChatBoxCont {
  height: 52vh;
  align-self: center;
  width: 65vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vh;
  border-color: #e9eef4;
  box-shadow: 3px 0px 14px 5px #e9eef4;
  padding: 5px;
}

.usersChatBox {
  height: inherit;
  width: inherit;
  display: flex;
}

.usersOpenConvos {
  height: 50.5vh;
  width: 25vw;
  /* background-color:#e9eef4; #fef4f2; */
  /* border-bottom-left-radius: 1vh;
  border-top-left-radius: 1vh; */
  flex-grow: 0.9;
  flex-grow: 1.1;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #e9eef4;
}

.usersChatArea {
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding-right: 1vw;
  flex-grow: 2;
  height: 50.5vh;
}

.userChatDisplay {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  max-width: 47vw;
}

.userChatFeatures {
  display: flex;
  align-items: flex-end;
  flex-grow: 0.1;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #e9eef4;
}

.usersChatText {
  display: flex;
  justify-content: center;
  max-width: 40vw;
  height: 8.2vh;
  align-items: center;
  flex-grow: 1;
}

.usersChatSendButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  flex-grow: 0.07;
}

.textAreaHolder {
  display: flex;
  align-items: center;
  flex-grow: 0.9;
  border-style: solid;
  border-radius: 7vh;
  border-color: transparent;
  background-color: #e9eef4;
  background-color: #ebf0f7;
  height: 5vh;
  border-width: 2px;
}

.textAreaHolder textarea {
  background-color: transparent;
  height: inherit;
  flex-grow: 1;
  resize: unset;
  border-color: transparent;
  padding-left: 6px;
  text-align: left;
  font-size: 17px;
  font-weight: 550;
  color: #141e27;
  line-height: 2;
}

.textAreaHolder form {
  height: inherit;
  flex-grow: 1;
  align-items: flex-start;
  display: flex;
}

.textAreaHolder textarea:focus {
  outline: none;
}

.textAreaHolder:focus-within {
  border-color: #91a8ca;
}

.userChatView {
  flex-grow: 1;
}

.sugestedTextCont {
  display: flex;
  max-height: 6vh;
  flex-grow: 0.15;
  align-content: space-around;
  padding: 5px;
  height: 7vh;
  overflow-x: scroll;
  justify-content: space-around;
  width: 100vw;
}

.sugestedText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 19.5vw;
  border-style: solid;
  border-width: 1px;
  border-color: #e9eef4;
  border-radius: 0.7vh;
  cursor: pointer;
}

.sugestedTextMain {
  height: 6vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
