/* * {
  padding: 0;
  margin: 0;
}
/*  */
.doctor-home {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(../../../assets/img/vetPortalBG3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.welcome-doctor {
  /* background-color: purple; */
  /* width: 100%;
  height: 5rem;
  margin-top: 6rem; */
}

/* .helloDocGreeting {
  padding-top: 2rem;
}

.todayAptSign {
  padding-top: 2rem;
}

.upcomingAppointments {
  justify-content: center;
} */

.listOfApptsForDay {
  display: flex;

  justify-content: center;
}

.apptTwo {
  padding-right: 4rem;
  padding-top: 1.5rem;
  padding-left: 3rem;
  border-radius: 1rem;
  border: 4px solid;
  width: 25.5rem;
  background: #b0c7e8;
}

.apptDisplayLabels {
  /* color: #B4886B; */
  font-weight: bold;
  display: block;
  width: 50px;
  float: left;
  padding-right: 4px;
  /* background-color: cornflowerblue; */
}

.answerInput {
  font-size: 1rem;
  font-style: oblique;
}

.aptBtns {
  margin-top: 1rem;
  justify-content: center;
  text-align: center;
  justify-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
}

.aptBtns button {
  border-radius: 1vh;
}

.cancelApt {
  margin-right: 6px;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #225095, #f18e7c, #f16643);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 2rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.cancelApt:hover {
  background-position: right;
}
#menuId {
  position: unset;
  margin: unset;
}

.rescheduleApt {
  margin-right: 6px;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #225095, #f18e7c, #f16643);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 2rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.rescheduleApt:hover {
  background-position: right;
}

.followupApt {
  margin-right: 6px;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #225095, #f18e7c, #f16643);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 2rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.followupApt:hover {
  background-position: right;
}
