.single-result{
    display: flex;
    max-width: 1000px;
    width: 100%;
}
.image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 1rem;
}

.info{
    min-width: 400px;
}

.contact p{
    font-size: .90rem;
}

.card {
   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

  .container {
    padding: 2px 16px;
  }