.single-result{
    display: flex;
    max-width: 1000px;
    width: 100%;
}
.image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 1rem;
}

.info{
    min-width: 400px;
}

.contact p{
    font-size: .90rem;
}