/* 
* {
    margin: 0;
    padding: 0;
  } */

.mainContainer4DocPortal {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.titleE2 {
  color: "#F16643";
}

.bottomCont2 {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  align-self: flex-end;
  flex-direction: column;
}
.splashButtonsCont2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0.7;
  padding: 5px;
  align-items: flex-start;
  height: 25vh;
}

.syleA {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.docPortalBox {
  display: flex;
  margin-top: 5rem;
  margin-left: -28rem;
}

.inquiryForm4DocPortal {
  float: right;
  margin-left: 8rem;
  margin-top: 25rem;
  padding-right: -5rem;
  padding-left: -5rem;
  width: 12rem;
  box-sizing: border-box;
  box-shadow: 5px 10px #f3bfd0;
  border: 3px solid #f18e7c;
  /* height: 10rem; */
  border-radius: 1rem;
}

.footerDiv2 {
  width: 18vw;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.zoovioHeading {
  color: rgb(0, 0, 0);
  font-weight: 700;
  /* font-style: italic; */
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  display: inline;
}

.zoovioInquiryLink {
  color: #f16643;
  font-weight: 700;
  font-variant-caps: all-petite-caps;
  /* font-style: italic; */
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  display: inline;
  text-decoration: none;
  font-style: oblique;
  /* margin-bottom: 3rem; */
}

.docInquireButton {
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #225095, #f18e7c, #f16643);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  /* font-family: "Poppins", sans-serif; */
  /* text-transform: uppercase; */
  margin: 2rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.logoDiv img {
  height: 15vh;
}
.topDocDiv {
  display: flex;
  padding: 2vw;
  height: 38vh;
}

.docInquireButton:hover {
  background-position: right;
}

.zoovioInquiryLink:hover {
  text-decoration: underline;
  font-style: oblique;
  /* color: cadetblue; */
  color: #f16643;
}

.zoovioInfo {
  display: inline;
  /* color:  #225095; */
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  line-height: 0.5;
}

.homeBlob {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  padding: 33vh;
}

.homeBlob svg {
  height: 45vh;
}

.bottomDocHomeBlob {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottomDocHomeBlob svg {
  height: 97vh;
  margin-top: -26vh;
  margin-left: -28vw;
}
