.doctor-home {
    /* background-image: url(../../../../assets/img/2friendsandpet.jpg); */
    /* background-repeat: no-repeat; */
    background-color: brown;
    width: 100%;
    height: 100%;
}

.welcome-doctor {
    background-color: purple;
    width: 100%;
    height: 100%;

}